@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');

* {
	font-family: 'Nova Flat', cursive;

}

h1 {
	padding: 0;
	margin: 0;
	text-align: center;
	font: 4rem 'Langar', cursive;
}


.box {
	border: 5px solid black;
	padding: 50px 0px;
	display: flex;
	justify-content: space-around;
}

.progress-bar {
	border: 5px solid black;
	height: 40px;
	width: 500px;
}

.progress-bar .progress {
/*	background-color: red;*/
	height: 100%;
	/*width: 100%;*/
}

.percent {
	text-align: center;
}

.main-buttons {
	font-size: 30px;
	padding: 15px;
}

.final-message {
	font-size: 3rem;
}
